<header>
    <h1><%= title %></h1>
    <div class="header-actions">
        <span class="admin-name">
            <i class="fa fa-user-circle"></i>
            <%= admin.name %>
        </span>
        <button id="menu-btn" class="menu-btn">
            <i class="fa fa-bars"></i>
        </button>
    </div>
</header>